@{
    <div class="text-center">
        <h1 style="background-color:darkolivegreen;">Chiron in Taurus / 2nd House</h1>
    </div>
}
<!DOCTYPE html>
<html>
<h2 style="font-family:verdana;">Chiron in Taurus:The wound of Values </h2>
<style>
    .header-dark {
        background: #1f2936;
        color: white;
        padding: 10px;
    }
</style>

<header class="header-dark">
    The Wound of Values
</header>
<body>
    <h1
    <p>Chiron is in one essesnce an asteroid's name that corresponds in astrology to the healing aspects within each of us.
        This placement gaining popularity is in effect the wound we inflict on ourself which we become skilled in healing in others. In an Astrology chart it is represented by the "key". The understanding of this part of your astrology chart can be the key to deep healing in yourself in others. </p>
    <p>This is another paragraph.</p>

</body>
</html>